@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there !</h1>
    <p>Do visit my <a href="https://github.com/AmirHafidz">github account</a> !</p>
</div>
